#login-form {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;


  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .buttons button{
    text-decoration: underline;
  }

  .form-control {
    width: 15rem;
    height: 3rem;
    ;
  }
  a{
    color: black;
  }