#main-container{
    margin: 1rem;
    border: 1px solid black;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    .menu {
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      p{
        text-align: center;
        word-break: keep-all;
      }
    }
  }