nav.navbar>div.container-fluid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33%, auto));
    /* grid-template-areas: "back title n"; */
  }

  #title {
    display: flex;
    justify-content: center;
  }

  #register-container {
    padding: 1rem;
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .form-control {
    display: inline-block;
  }

  form {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-row-gap: 1rem;
    grid-column-gap: 0.2rem;
    justify-items: left;
    align-items: center;
  }
  #submit{
    grid-column: span 2;
  }
  #validation{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    align-items: center;

    > input{
      width: 5rem;

    }
    > button{
      width: 3.7rem;
      height: 2rem;
      align-items: center;
    }
  }