@charset "UTF-8";
.navbar-inverse, .navbar-inverse * {
	border-color: RGB(146, 208, 80);
	background-color: RGB(146, 208, 80);
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover
	{
	background-color: RGB(146, 208, 80);
}

.navbar-inverse .navbar-toggle {
	border-color: #9de055;
}

.navbar * {
	background-color: RGB(146, 208, 80);
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus,
	.navbar-inverse .navbar-nav>.active>a:hover {
	background-color: RGB(146, 208, 80);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border: none;
}
button.navbar-toggle{
	position: absolute;
	top:0;
	right:0;
	}
